.login {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40%;
  margin-bottom: 0;
  list-style: none;
  color: #ffffff;
  background-color: rgb(104, 90, 90);
  text-decoration: none;
  font-size: 25px;
  font-family: "Arima Madurai", cursive;
  padding: 10px;
  border-radius: 20px;
  width: 6%;
}
